@import 'tailwindcss';
@font-face {
  font-family: 'Funnel Sans';
  font-style: normal;
  src: url('fonts/regular.ttf');
}
@font-face {
  font-family: 'Funnel Sans';
  font-style: italic;
  src: url('fonts/italic.ttf');
}
@font-face {
  font-family: 'Funnel Display';
  src: url('fonts/display.ttf');
}
@theme {
  --default-font-family: 'Funnel Sans';
  --font-display: 'Funnel Display';
}
